<div class="hero {{ section.settings.hero }}">
  <div class="hero__left-col {{ section.settings.hero__left-col }}">
    <div class="hero__header {{ section.settings.hero__header }}">
      <h1 class="hero__title {{ section.settings.hero__title }}">{{ section.settings['hero-main'] }}</h1>
      <div class="hero__subtitle {{ section.settings.hero__subtitle }}">{{ section.settings['hero-main-richtext'] }}</div>
    </div>
    <div class="hero__content {{ section.settings.hero__content }}">
      {% if section.settings.hero__image != blank %}
        {{
          section.settings.hero__image
          | image_url: width: 200
          | image_tag: class: section.settings['tail-hero__image']
        }}
      {% endif %}
      <p class="hero__description {{ section.settings.tail-hero__description }}">
        {{ section.settings.hero__description }}
      </p>
    </div>
  </div>
  <div class="hero__right-col {{ section.settings.hero__right-col }}">
    {% for block in section.blocks %}
      {% if block.type == 'collection' and block.settings.collection != blank %}
        <div class="hero__row {{ block.settings.hero__row }} {% if block.settings.reverse-image %} flex-row-reverse	{% endif %}">
          <div class="hero__product-image {{ block.settings.hero__product-image }}">
            {% if block.settings.collection.featured_image != blank %}
              {{
                block.settings.collection.featured_image
                | image_url: width: 500
                | image_tag: class: block.settings['hero__product-img']
              }}
            {% endif %}
          </div>
            <div class="hero__product {{ block.settings.hero__product }} {% if block.settings.reverse-image %} border-r-[1px] {% else %} border-l-[1px] {% endif %}">
            <h3 class="hero__product-title {{ block.settings.hero__product-title }}">
              {{ block.settings.collection.title }}
            </h3>
            <a
              href="{{ block.settings.collection.url }}"
              class="hero__product-link {{ block.settings.hero__product-link }}"
            >
              {{- block.settings.text | append: '→' -}}
            </a>
            </div>
          </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "html",
      "id": "hero-main",
      "label": "Hero heading",
      "default": "Kyiv LuxeBouquets"
    },
    {
      "type": "richtext",
      "id": "hero-main-richtext",
      "label": "Hero subheading",
      "default": "<p>Discover Uniquely Crafted Bouquets and Gifts for Any Occasion: Spread Joy with Our Online Flower Delivery Service</p>"
    },
    {
      "type": "image_picker",
      "id": "hero__image",
      "label": "Hero image"
    },
    {
      "type": "textarea",
      "id": "hero__description",
      "label": "Hero description",
      "default": "Experience the joy of giving with our modern floral studio. Order online and send fresh flowers, plants and gifts today."
    },

    {
      "type": "header",
      "content": "Tailwind styling classes"
    },
    {
      "type": "textarea",
      "id": "hero",
      "label": "Style hero",
      "default": "flex-wrap md:flex-nowrap md:flex bg-red-200 w-full justify-between items-start border-t-[1px] border-[#121212]"
    },
    {
      "type": "textarea",
      "id": "hero__left-col",
      "label": "Style hero__left-col",
      "default": "border-l-[1px] border-b-[1px] border-[#121212] w-full md:w-1/2 p-[80px]"
    },
    {
      "type": "textarea",
      "id": "hero__header",
      "label": "Style hero__header",
      "default": "flex flex-col"
    },
    {
      "type": "textarea",
      "id": "hero__title",
      "label": "Style hero__title",
      "default": "text-desktop-heading-1 font-semibold"
    },
    {
      "type": "textarea",
      "id": "hero__subtitle",
      "label": "Style hero__subtitle",
      "default": "font-regular text-desktop-subtitle py-[16px]"
    },
    {
      "type": "textarea",
      "id": "hero__content",
      "label": "Style hero__content",
      "default": "flex pt-[24px] border-t-[1px] border-[#121212]"
    },
    {
      "type": "textarea",
      "id": "tail-hero__image",
      "label": "Style hero__image",
      "default": "h-64 w-64 object-cover basis-1/2 pr-[24px] border-r-[1px] border-[#121212]"
    },
    {
      "type": "textarea",
      "id": "tail-hero__description",
      "label": "Style hero__description",
      "default": "basis-2/2 pl-[24px] content-end text-desktop-caption"
    },
    {
      "type": "textarea",
      "id": "hero__right-col",
      "label": "Style hero__right-col",
      "default": "w-full md:w-1/2 bg-red-300"
    }
  ],
  "blocks": [
    {
      "name": "Collection Block",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Collection link text",
          "default": "Shop now"
        },
        {
          "type": "checkbox",
          "id": "reverse-image",
          "label": "Reverse image and text order"
        },
        {
          "type": "textarea",
          "id": "hero__row",
          "label": "Style hero__row",
          "default": "flex items-stretch border-l-[1px] border-b-[1px] border-r-[1px]  border-[#121212]"
        },
        {
          "type": "textarea",
          "id": "hero__product",
          "label": "Style hero__product",
          "default": "w-1/2 flex flex-col justify-between flex-grow border-[#121212]"
        },
        {
          "type": "textarea",
          "id": "hero__product-title",
          "label": "Style hero__product-title",
          "default": "flex-none mt-auto text-center text-desktop-heading-3 font-medium"
        },
        {
          "type": "textarea",
          "id": "hero__product-link",
          "label": "Style hero__product-link",
          "default": "mt-auto text-center text-desktop-heading-6 font-semibold pb-2"
        },
        {
          "type": "textarea",
          "id": "hero__product-image",
          "label": "Style hero__product-image",
          "default": "w-1/2 flex-grow object-cover"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Hero"
    }
  ]
}
{% endschema %}
