<div class="hero {{ section.settings.hero }}">
  <div class="hero__left-col {{ section.settings.hero__left-col }}">
    {% if section.settings['hero-main'] != blank or section.settings['hero-main-richtext'] != blank %}
    <div class="hero__header {{ section.settings.hero__header }}">
      {% if section.settings['hero-main'] != blank %}
        <h1 class="hero__title {{ section.settings.hero__title }}">{{ section.settings['hero-main'] }}</h1>
      {% endif %} 
      {% if section.settings['hero-main-richtext'] != blank %}
      <div class="hero__subtitle {{ section.settings.hero__subtitle }}">
        {{ section.settings['hero-main-richtext'] }}
      </div>
      {% endif %}
    </div>
    {% endif %}
    {% if section.settings.hero__description != blank or section.settings.hero__image != blank %}
    <div class="hero__content {{ section.settings.hero__content }}">
      {% if section.settings.hero__image != blank %}
        {{
          section.settings.hero__image
          | image_url: width: 200
          | image_tag: class: section.settings['tail-hero__image']
        }}
      {% endif %}
      {% if section.settings.hero__description != blank %}
      <p class="hero__description {{ section.settings.tail-hero__description }}">
        {{ section.settings.hero__description }}
      </p>
      {% endif %}
    </div>
    {% endif %}
  </div>
  {% if section.blocks.size > 0 %}
  <div class="hero__right-col {{ section.settings.hero__right-col }}">
    {% assign first_block = true %}
    {% for block in section.blocks %}
      {% if block.type == 'collection' and block.settings.collection != blank %}
        <div class="hero__row {{ block.settings.hero__row }} {% if block.settings.reverse-image %} flex-row-reverse	{% endif %} {% unless first_block %} border-t-0 {% endunless %}">
          <div class="hero__product-image {{ block.settings.hero__product-image }} {% unless block.settings.reverse-image %}border-r-[1px]{% endunless %}">
            {% if block.settings.collection.featured_image != blank or block.settings.collection_image != blank %}
              {{
                block.settings.collection_image | default: block.settings.collection.featured_image
                | image_url: width: 500
                | image_tag: class: block.settings['hero__product-img']
              }}
            {% endif %}
          </div>
          <div class="hero__product {{ block.settings.hero__product }} {% if block.settings.reverse-image %}border-r-[1px]{% endif %}">
            {% if block.settings.collection.title != blank %}
            <h3 class="hero__product-title {{ block.settings.hero__product-title }}">
              {{ block.settings.collection.title }}
            </h3>
            {% endif %}
            {% if block.settings.text != blank %}
            <a
              href="{{ block.settings.collection.url }}"
              class="hero__product-link {{ block.settings.hero__product-link }} {% unless block.settings.reverse-image %}flex-row-reverse{% endunless %}"
            >
              <span class="hero__product-link-text {{ block.settings.hero__product-link-text }} {% if block.settings.reverse-image %}mr-1{% else %}ml-1{% endif %}">
                {{- block.settings.text -}}
              </span>
              <span class="hero__product-link-svg ml-1 mr-0 {{ block.settings.hero__product-link-svg }} {% if block.settings.reverse-image %} group-hover:translate-x-1 {% else %} group-hover:-translate-x-1 {% endif %} {% unless block.settings.reverse-image %} rotate-180 ml-0 mr-1 {% endunless %}">
                {% render 'icon-right-arrow' %}
              </span>
            </a>
            {% endif %}
          </div>
          {% assign first_block = false %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
</div>

{% schema %}
{
  "name": "Hero",
  "settings": [
    {
      "type": "html",
      "id": "hero-main",
      "label": "Hero heading",
      "default": "Kyiv LuxeBouquets"
    },
    {
      "type": "richtext",
      "id": "hero-main-richtext",
      "label": "Hero subheading",
      "default": "<p>Discover Uniquely Crafted Bouquets and Gifts for Any Occasion: Spread Joy with Our Online Flower Delivery Service</p>"
    },
    {
      "type": "image_picker",
      "id": "hero__image",
      "label": "Hero image"
    },
    {
      "type": "textarea",
      "id": "hero__description",
      "label": "Hero description",
      "default": "Experience the joy of giving with our modern floral studio. Order online and send fresh flowers, plants and gifts today."
    },

    {
      "type": "header",
      "content": "Tailwind styling classes"
    },
    {
      "type": "textarea",
      "id": "hero",
      "label": "Style hero",
      "default": "flex-wrap lg:flex-nowrap lg:flex w-full justify-between items-start lg:items-stretch lg:max-h-[50vw] lg:overflow-auto lg:hide-scrollbar"
    },
    {
      "type": "textarea",
      "id": "hero__left-col",
      "label": "Style hero__left-col",
      "default": "w-full lg:w-1/2 px-4 py-10 md:p-20 lg:border-b-[1px] lg:border-brand-black lg:sticky lg:top-0 lg:h-screen lg:overflow-hidden"
    },
    {
      "type": "textarea",
      "id": "hero__header",
      "label": "Style hero__header",
      "default": "flex flex-col lg:h-[50%] lg:justify-center"
    },
    {
      "type": "textarea",
      "id": "hero__title",
      "label": "Style hero__title",
      "default": "text-mobile-heading-1 font-semibold pb-4 md:pr-12 md:text-desktop-heading-1"
    },
    {
      "type": "textarea",
      "id": "hero__subtitle",
      "label": "Style hero__subtitle",
      "default": "text-mobile-hero-caption pb-6 md:pb-[54px] md:text-desktop-hero-caption lg:pb-0"
    },
    {
      "type": "textarea",
      "id": "hero__content",
      "label": "Style hero__content",
      "default": "flex pt-4 border-t-[1px] border-brand-black md:pt-6 lg:align-center"
    },
    {
      "type": "textarea",
      "id": "tail-hero__image",
      "label": "Style hero__image",
      "default": "w-1/2 pr-4 object-cover border-r-[1px] border-brand-black aspect-[0.95] md:pr-6 md:aspect-[1.1875]"
    },
    {
      "type": "textarea",
      "id": "tail-hero__description",
      "label": "Style hero__description",
      "default": "w-1/2 pl-4 content-end text-mobile-small-description md:pl-6 md:text-desktop-caption"
    },
    {
      "type": "textarea",
      "id": "hero__right-col",
      "label": "Style hero__right-col",
      "default": "w-full lg:w-1/2 lg:h-screen lg:max-h-[50vw]"
    }
  ],
  "blocks": [
    {
      "name": "Collection Block",
      "type": "collection",
      "settings": [
        {
          "type": "collection",
          "id": "collection",
          "label": "Select collection"
        },
        {
          "type": "image_picker",
          "id": "collection_image",
          "label": "Select Image",
          "info": "If this is blank then the collection image will be used"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Collection link text",
          "default": "Shop now"
        },
        {
          "type": "checkbox",
          "id": "reverse-image",
          "label": "Reverse image and text order"
        },
        {
          "type": "textarea",
          "id": "hero__row",
          "label": "Style hero__row",
          "default": "flex items-stretch border-[1px] border-brand-black group lg:border-t-0"
        },
        {
          "type": "textarea",
          "id": "hero__product",
          "label": "Style hero__product",
          "default": "w-1/2 flex flex-col justify-between flex-grow border-brand-black p-3"
        },
        {
          "type": "textarea",
          "id": "hero__product-title",
          "label": "Style hero__product-title",
          "default": "flex-none mt-auto text-center text-mobile-heading-3 font-medium md:text-desktop-heading-3"
        },
        {
          "type": "textarea",
          "id": "hero__product-link",
          "label": "Style hero__product-link",
          "default": "mt-auto text-center text-mobile-links font-semibold pb-2 gap-1 flex justify-center md:text-desktop-heading-6 items-center"
        },
        {
          "type": "textarea",
          "id": "hero__product-link-text",
          "label": "Style hero__product-link-text",
          "default": "font-bold inline-block hover:underline"
        },
        {
          "type": "textarea",
          "id": "hero__product-link-svg",
          "label": "Style hero__product-link-svg",
          "default": "flex items-center h-5 w-5 transition-transform duration-300 ease-in-out"
        },
        {
          "type": "textarea",
          "id": "hero__product-image",
          "label": "Style hero__product-image",
          "default": "w-1/2 flex-grow object-cover border-brand-black aspect-[0.9375] md:aspect-square overflow-hidden"
        },
        {
          "type": "textarea",
          "id": "hero__product-img",
          "label": "Style hero__product-img",
          "default": "w-full h-full object-cover transform transition-transform duration-300 ease-in-out group-hover:scale-110"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Hero",
      "category": "Hero"
    }
  ]
}
{% endschema %}
