<!-- itbo: image-text-button-overlay -->

<div class="{{ section.settings.itbo__container }}">
    {% comment %} Background Image {% endcomment %}
    {% assign image_classes = section.settings.itbo__container_image_classes %}
    {% if section.settings.itbo_background_image != blank %}
        {{ 
            section.settings.itbo_background_image
            | image_url: width: 800
            | image_tag: 
                class: image_classes,
                alt: section.settings.itbo_background_image.alt | default: 'Background image for service section'
        }}
    {% else %}
        {{ 'image' | placeholder_svg_tag:  image_classes }}
    {% endif %}

    {% comment %} Background Overlay {% endcomment %}
    <div class="{{ section.settings.itbo__container_overlay }}"></div>

    {% comment %} Container Content {% endcomment %}
    <div class=" {{ section.settings.itbo__container_content }}"> 
        <div class="{{ section.settings.itbo__container_text_content }}"> 
            <h3 class="{{ section.settings.itbo__container_text_content_small_header_classes }}"> 
                {{ section.settings.itbo__container_text_content_small_header }}
            </h3>

            <div class="{{ section.settings.itbo__container_text_content_heading_paragraph_div }}">
                <h2 class="{{ section.settings.itbo__container_text_content_heading_paragraph_div_header_classes }}">
                    {{ section.settings.itbo__container_text_content_heading_paragraph_div_header }}
                </h2>
                <div class="{{ section.settings.itbo__container_text_content_heading_paragraph_div_para_classes }}">
                    {{ section.settings.itbo__container_text_content_heading_paragraph_div_para }}
                </div>
            </div>
        </div>

        <div class="{{ section.settings.itbo__container_button_div }}">
            <a 
                href="{{ section.settings.itbo__container_button_link }}"
                class="{{ section.settings.itbo__container_button_classes }}"
            >
                        {{- section.settings.itbo__container_button_label | escape -}}
            </a>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Image Text-Button Overlay",
    "settings": [
        {
            "type": "image_picker",
            "id": "itbo_background_image",
            "label": "Background Image"
        },
        {
            "type": "inline_richtext",
            "id": "itbo__container_text_content_small_header",
            "label": "Section Small Header Text",
            "default": "Service"
        },
        {
            "type": "inline_richtext",
            "id": "itbo__container_text_content_heading_paragraph_div_header",
            "label": "Section Header Text",
            "default": "Wedding & Event Decor"
        },
        {
            "type": "richtext",
            "id": "itbo__container_text_content_heading_paragraph_div_para",
            "label": "Section Paragraph Text",
            "default": "<p>Let our team of expert florists and designers create stunning, on-trend floral décor for your special day. Trust us to bring your vision to life.</p>"
        },
        {
            "type": "textarea",
            "id": "itbo__container_button_label",
            "label": "Button Label",
            "default": "Inquire Now"
        },
        {
            "type": "url",
            "id": "itbo__container_button_link",
            "label": "Button Link"
        },
        {
            "type": "header",
            "content": "Tailwind styling classes"
        },
        {
            "type": "textarea",
            "id": "itbo__container",
            "label": "Container Classes",
            "default": "relative h-[416px] md:h-[500px] lg:h-[720px] flex items-center justify-center"
        },     
        {
            "type": "textarea",
            "id": "itbo__container_image_classes",
            "label": "Container Image Classes",
            "default": "absolute inset-0 w-full h-full object-cover"
        },      
        {
            "type": "textarea",
            "id": "itbo__container_overlay",
            "label": "Container Overlay Classes",
            "default": "absolute inset-0 bg-black bg-opacity-50"
        },        
        {
            "type": "textarea",
            "id": "itbo__container_content",
            "label": "Container Content Classes",
            "default": "relative z-10 flex flex-col gap-16 py-10 px-4 md:p-20 md:items-center"
        },        
        {
            "type": "textarea",
            "id": "itbo__container_text_content",
            "label": "Container Text Content Div",
            "default": "flex flex-col gap-6 text-center"
        },
         {
            "type": "textarea",
            "id": "itbo__container_text_content_small_header_classes",
            "label": "Text Content Div Small Header Text Classes",
            "default": "text-mobile-caption-small md:text-mobile-caption uppercase text-white font-medium"
        },
        {
            "type": "textarea",
            "id": "itbo__container_text_content_heading_paragraph_div",
            "label": "Container Text Content Heading Para Div",
            "default": "flex flex-col gap-4 "
        },
        {
            "type": "textarea",
            "id": "itbo__container_text_content_heading_paragraph_div_header_classes",
            "label": "Container Text Content Heading Para Header Classes",
            "default": "text-white text-mobile-heading-2 font-semibold md:text-desktop-heading-2"
        },
        {
            "type": "textarea",
            "id": "itbo__container_text_content_heading_paragraph_div_para_classes",
            "label": "Container Text Content Heading Para Paragraph Classes",
            "default": "text-mobile-body text-white md:text-desktop-hero-caption"
        },
        {
            "type": "textarea",
            "id": "itbo__container_button_div",
            "label": "Container Button Div",
            "default": "flex items-start justify-center md:inline-block"
        },
        {
            "type": "textarea",
            "id": "itbo__container_button_classes",
            "label": "Button Classes",
            "default": "text-center text-white uppercase hover:bg-brand-black hover:text-white text-mobile-button font-medium border border-white hover:border-white pt-4 pb-[14px] px-4 md:px-6 tracking-[0.025em] w-full md:w-[175px] md:h-[56px] md:tracking-[0.03em] md:text-desktop-button"
        }
    ],
    "presets": [
        {
            "name": "Image Text-Button Overlay",
        }
    ]
}
{% endschema %}