<!-- navbar.liquid -->

{% assign has_social_icons = false %}
{% if settings.social_facebook_link != blank or
      settings.social_instagram_link != blank or
      settings.social_youtube_link != blank or
      settings.social_tiktok_link != blank or
      settings.social_twitter_link != blank or
      settings.social_pinterest_link != blank or
      settings.social_snapchat_link != blank or
      settings.social_tumblr_link != blank or
      settings.social_vimeo_link != blank
%}
  {% assign has_social_icons = true %}
{% endif %}


<div class="navbar-wrapper {{ section.settings.navbar_wrapper }}">
  <nav class="navbar {{ section.settings.navbar_classes }}">
    <div class="navbar__container {{ section.settings.container_classes }}">

        <!-- Mobile and Laptop menu button -->
        <div class="menu-button-container-classes {{ section.settings.menu_button_container_classes }}">
          <button id="menu-button" class="{{ section.settings.menu_button_svg_classes }}">
            <span id="hamburger-icon">{% render 'icon-hamburger' %}</span>
          </button>
        </div>

        <!--  Mobile Cart Button -->
        <!-- 'open-cart' is the data action in JS of cart.js to Open Cart -->
        <a 
          href="{{ routes.cart_url }}" 
          class="{{ section.settings.mobile_cart_button_classes }}" 
          {% if settings.cart_type == 'drawer' %} data-action="open-cart" {% endif %}
        >
            {% render 'icon-cart' class: section.settings.cart_button_svg_classes %}
        </a>

        <!-- Desktop menu -->
        <div class="navbar__menu_desktop {{ section.settings.navbar__menu_desktop }}">
          <div class="navbar__menu-left {{ section.settings.navbar__menu_left }}">
              {% for link in linklists[section.settings.menu].links %}
              <a href="{{ link.url }}" class="navbar__menu-item {{ section.settings.left_menu_item_classes }}">
                <span class="navbar__desktop_menu_item {{ section.settings.navbar__desktop_menu_item }}"> {{ link.title }} </span>
              </a>
              {% endfor %}
          </div>
          <div class="navbar__menu-right {{ section.settings.navbar__menu_right }}">
              {% for link in linklists[section.settings.right_menu].links %}
              
              <a href="{{ link.url }}" 
                class="navbar__menu-item {{ section.settings.right_menu_item_classes }}">
                <span class="navbar__desktop_menu_item {{ section.settings.navbar__desktop_menu_item }}"> {{ link.title }} </span>
              </a>
              {% endfor %}

              {% comment %} Desktop Cart Button {% endcomment %}
              <!-- 'open-cart' is the data action in JS of cart.js to Open Cart -->
              <a 
                href="{{ routes.cart_url }}" 
                class="navbar__menu-item {{ section.settings.right_menu_item_classes }}" 
                {% if settings.cart_type == 'drawer' %} data-action="open-cart" {% endif %}
              >
                  <span class="navbar__desktop_menu_item {{ section.settings.desktop_cart_button_classes }}">
                    {% render 'icon-cart' class: section.settings.desktop_cart_button_link_SVG %}
                    {{ section.settings.desktop_cart_button_label }}
                  
                  </span>
              </a>
            
          </div>
      </div>
    </div>
  </nav>

  <!-- Off-canvas menu -->
  <div id="off-canvas-menu" class="off_canvas_menu_container_classes {{ section.settings.off_canvas_menu_container_classes }}">
    <div class="off_canvas_menu_header_classes {{ section.settings.off_canvas_menu_header_classes }}">
      <button id="close-menu-button" class="{{ section.settings.close_menu_button_classes }}">
        {% render 'icon-close' %}
      </button>
    </div>
    <div class="off-canvas-menu-content-classes {{ section.settings.off_canvas_menu_content_classes }}">
      {% for link in linklists[section.settings.menu].links %}
        <a href="{{ link.url }}" class="{{ section.settings.off_canvas_menu_item_classes }}">
          {{ link.title }}
        </a>
      {% endfor %}
      {% for link in linklists[section.settings.right_menu].links %}
        <a href="{{ link.url }}" 
          class="{{ section.settings.off_canvas_menu_item_classes }}"
        >
          {{ link.title }}
        </a>
      {% endfor %}

      <!-- More Menus -->
      <div class="off-canvas-more-menu {{ section.settings.off_canvas_more_menu }}">
        {% for link in linklists[section.settings.more_menu].links %}
        <a href="{{ link.url }}" class="{{ section.settings.off_canvas_more_menu_item }}">
          {{ link.title }}
        </a>
      {% endfor %}
      </div>

      <!-- Social Menu -->
        {% if section.settings.show_social_media and has_social_icons %}
        <div class="off-canvas-menu-social {{ section.settings.off_canvas_menu_social }}">
          {%- assign svg_class = section.settings.off_canvas_menu_social_SVG -%}
          {% if settings.social_facebook_link != blank %}
            <a href="{{ settings.social_facebook_link }}" class="{{ section.settings.off_canvas_menu_social_item }}" target="_blank" rel="noopener" aria-label="Facebook">
              {% render 'icon-social-facebook' class: svg_class  %}
            </a>
          {% endif %}
          {% if settings.social_instagram_link != blank %}
            <a href="{{ settings.social_instagram_link }}" class="{{ section.settings.off_canvas_menu_social_item }}" target="_blank" rel="noopener" aria-label="Instagram">
              {% render 'icon-social-instagram' class: svg_class %}
            </a>
          {% endif %}
          {% if settings.social_youtube_link != blank %}
            <a href="{{ settings.social_youtube_link }}" class="{{ section.settings.off_canvas_menu_social_item }}" target="_blank" rel="noopener" aria-label="YouTube">
              {% render 'icon-social-youtube' class: svg_class %}
            </a>
          {% endif %}
          {% if settings.social_tiktok_link != blank %}
            <a href="{{ settings.social_tiktok_link }}" class="{{ section.settings.off_canvas_menu_social_item }}" target="_blank" rel="noopener" aria-label="TikTok">
              {% render 'icon-social-tiktok' class: svg_class %}
            </a>
          {% endif %}
          {% if settings.social_twitter_link != blank %}
            <a href="{{ settings.social_twitter_link }}" class="{{ section.settings.off_canvas_menu_social_item }}" target="_blank" rel="noopener" aria-label="Twitter">
              {% render 'icon-social-twitter' class: svg_class %}
            </a>
          {% endif %}
          {% if settings.social_pinterest_link != blank %}
            <a href="{{ settings.social_pinterest_link }}" class="{{ section.settings.off_canvas_menu_social_item }}" target="_blank" rel="noopener" aria-label="Pinterest">
              {% render 'icon-social-pinterest' class: svg_class %}
            </a>
          {% endif %}
          {% if settings.social_snapchat_link != blank %}
            <a href="{{ settings.social_snapchat_link }}" class="{{ section.settings.off_canvas_menu_social_item }}" target="_blank" rel="noopener" aria-label="Snapchat">
              {% render 'icon-social-snapchat' class: svg_class %}
            </a>
          {% endif %}
          {% if settings.social_tumblr_link != blank %}
            <a href="{{ settings.social_tumblr_link }}" class="{{ section.settings.off_canvas_menu_social_item }}" target="_blank" rel="noopener" aria-label="Tumblr">
              {% render 'icon-social-tumblr' class: svg_class %}
            </a>
          {% endif %}
          {% if settings.social_vimeo_link != blank %}
            <a href="{{ settings.social_vimeo_link }}" class="{{ section.settings.off_canvas_menu_social_item }}" target="_blank" rel="noopener" aria-label="Vimeo">
              {% render 'icon-social-vimeo' class: svg_class %}
            </a>
          {% endif %}
        </div>
        {% endif %}
      
    </div>
  </div>

  <!-- Overlay -->
  <div id="menu-overlay" class="menu_overlay_classes {{ section.settings.menu_overlay_classes }}"></div>
</div>

<!-- Include Navbar JavaScript -->
<script src="{{ 'navbar.js' | asset_url }}" defer></script>

{% schema %}
{
  "name": "Navbar",
  "settings": [
    {
      "type": "header",
      "content": "Menu Selection"
    },
    {
      "type": "link_list",
      "id": "menu",
      "label": "Left Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "right_menu",
      "label": "Right Menu",
      "default": "main-menu"
    },
    {
      "type": "textarea",
      "id": "desktop_cart_button_label",
      "label": "Button Label",
      "default": "Cart"
    },
    {
      "type": "url",
      "id": "desktop_cart_button_link",
      "label": "Button Link"
    },
    {
      "type": "link_list",
      "id": "more_menu",
      "label": "More Menu",
      "default": "main-menu"
    },
    {
      "type": "header",
      "content": "Tailwind Classes"
    },
    {
      "type": "textarea",
      "id": "navbar_wrapper",
      "label": "Navbar Wrapper",
      "default": "relative"
    },
    {
      "type": "textarea",
      "id": "navbar_classes",
      "label": "Navbar classes",
      "default": "h-[48px] md:h-[56px] lg:[83px] w-full z-10 bg-white"
    },
    {
      "type": "textarea",
      "id": "container_classes",
      "label": "Container classes",
      "default": "border-y-[1px] lg:border-x-[1px] border-brand-black flex justify-between h-full"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_desktop",
      "label": "Navbar Desktop Menu",
      "default": "hidden lg:flex w-full justify-between"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_left",
      "label": "Left menu classes",
      "default": "hidden lg:flex h-full w-1/2 justify-start pl-[1px]"
    },
    {
      "type": "textarea",
      "id": "navbar__menu_right",
      "label": "Right menu classes",
      "default": "hidden lg:flex h-full w-1/2 justify-end pr-[1px]"
    },
    {
      "type": "textarea",
      "id": "left_menu_item_classes",
      "label": "Left menu item classes",
      "default": "text-brand-black hover:text-gray-900 border-brand-black border-r-[1px] flex items-center justify-center w-1/4"
    },
    {
      "type": "textarea",
      "id": "right_menu_item_classes",
      "label": "Right menu item classes",
      "default": "text-brand-black hover:text-gray-900 border-brand-black border-l-[1px] flex items-center justify-center w-1/4"
    },
    {
      "type": "textarea",
      "id": "navbar__desktop_menu_item",
      "label": "Desktop Menu item",
      "default": "transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300"
    },
    {
      "type": "textarea",
      "id": "desktop_cart_button_classes",
      "label": "Desktop Cart Button Link Classes",
      "default": "transition ease-in-out hover:-translate-y-1 hover:scale-110 duration-300 flex items-center justify-center  w-full h-full gap-2"
    },
    {
      "type": "textarea",
      "id": "desktop_cart_button_link_SVG",
      "label": "Desktop Cart Button Link SVG",
      "default": "w-5 h-5"
    },
    {
      "type": "header",
      "content": "Mobile & Laptop Tailwind Classes"
    },
    {
      "type": "textarea",
      "id": "menu_button_container_classes",
      "label": "Menu button container classes",
      "default": "flex items-center justify-center aspect-square border-brand-black border-x lg:hidden"
    },
    {
      "type": "textarea",
      "id": "menu_button_svg_classes",
      "label": "Menu button SVG classes",
      "default": "w-5 h-5"
    },
    {
      "type": "textarea",
      "id": "mobile_cart_button_classes",
      "label": "Mobile Cart button classes",
      "default": "flex items-center justify-center aspect-square border-brand-black border-x lg:hidden"
    },
    {
      "type": "textarea",
      "id": "cart_button_svg_classes",
      "label": "Cart button SVG classes",
      "default": "w-5 h-5"
    },
    {
      "type": "textarea",
      "id": "menu_overlay_classes",
      "label": "Menu overlay classes",
      "default": "fixed inset-0 bg-black bg-opacity-50 z-40 transition-opacity duration-300 ease-in-out opacity-0 pointer-events-none lg:hidden"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_container_classes",
      "label": "Off-canvas menu container classes",
      "default": "fixed inset-y-0 left-0 w-full md:w-[384px] bg-white z-50 transition-transform duration-300 ease-in-out transform -translate-x-full lg:hidden border border-brand-black"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_header_classes",
      "label": "Off-canvas menu header classes",
      "default": "h-[47px] md:h-[55px] border-b border-brand-black flex items-center justify-start pl-6"
    },
    {
      "type": "textarea",
      "id": "close_menu_button_classes",
      "label": "Close menu button classes",
      "default": "flex items-center w-[18.67px] h-[18.67px]"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_content_classes",
      "label": "Off-canvas menu content classes",
      "default": "text-mobile-heading-5 md:text-desktop-heading-5 text-brand-black font-medium h-[calc(100%_-_47px)] md:h-[calc(100%_-_55px)] overflow-y-scroll"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_item_classes",
      "label": "Off-canvas menu item classes",
      "default": "block p-6 border-b border-brand-black hover:underline"
    },
    {
      "type": "textarea",
      "id": "off_canvas_more_menu",
      "label": "Off-canvas menu more div",
      "default": "flex flex-col gap-4 border-b border-brand-black font-medium p-6 "
    },
    {
      "type": "textarea",
      "id": "off_canvas_more_menu_item",
      "label": "Off-canvas menu more item",
      "default": "text-mobile-links tracking-wide md:text-desktop-links hover:underline"
    },
    {
      "type": "header",
      "content": "Social Media"
    },
    {
      "type": "checkbox",
      "id": "show_social_media",
      "label": "Show social media in off-canvas menu",
      "default": true
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_social",
      "label": "Off-canvas menu social div",
      "default": "flex border-b border-brand-black font-medium p-6 justify-between"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_social_item",
      "label": "Off-canvas menu social item",
      "default": "flex items-center justify-center"
    },
    {
      "type": "textarea",
      "id": "off_canvas_menu_social_SVG",
      "label": "Off-canvas menu social SVG classes",
      "default": "h-5 w-5"
    }
  ],
  "enabled_on": {
    "groups": ["header"]
  }
}
{% endschema %}
