<div class="{{ section.settings.service_2__container }}">
    {% comment %} Background Image {% endcomment %}
    {% assign image_classes = section.settings.service_2__container_image_classes %}
    {% if section.settings.service_2_background_image != blank %}
        {{
        section.settings.service_2_background_image
        | image_url: width: 800
        | image_tag: 
            class: image_classes,
            alt: section.settings.service_2_background_image.alt | default: 'Background image for service section'

        }}
    {% endif %}

    {% comment %} Background Overlay {% endcomment %}
    <div class="{{ section.settings.service_2__container_overlay }}"></div>

    {% comment %} Container Content {% endcomment %}
    <div class=" {{ section.settings.service_2__container_content }}"> 
        <div class="{{ section.settings.service_2__container_text_content }}"> 
            {% if section.settings.service_2__container_text_content_small_header != blank %}
            <h3 class="{{ section.settings.service_2__container_text_content_small_header_classes }}"> 
                {{ section.settings.service_2__container_text_content_small_header }}
            </h3>
            {% endif %}     

            {% if section.settings.service_2__container_text_content_heading_paragraph_div_para != blank or section.settings.service_2__container_text_content_heading_paragraph_div_header != blank %}
            <div class="{{ section.settings.service_2__container_text_content_heading_paragraph_div }}">
                {% if section.settings.service_2__container_text_content_heading_paragraph_div_header != blank %}
                <h2 class="{{ section.settings.service_2__container_text_content_heading_paragraph_div_header_classes }}">
                    {{ section.settings.service_2__container_text_content_heading_paragraph_div_header }}
                </h2>
                {% endif %}
                {% if section.settings.service_2__container_text_content_heading_paragraph_div_para != blank %}
                <div class="{{ section.settings.service_2__container_text_content_heading_paragraph_div_para_classes }}">
                    {{ section.settings.service_2__container_text_content_heading_paragraph_div_para }}
                </div>
                {% endif %}     
            </div>
            {% endif %}     
        </div>

        {% if section.settings.service_2__container_button_label != blank %}
        <div class="{{ section.settings.service_2__container_button_div }}">
                <a href="{{ section.settings.service_2__container_button_link }}" class="{{ section.settings.service_2__container_button_classes }}">
                    {{- section.settings.service_2__container_button_label | escape -}}
                </a>
        </div>
        {% endif %}
    </div>
</div>

{% schema %}
{
    "name": "Service Section 2",
    "settings": [
        {
            "type": "image_picker",
            "id": "service_2_background_image",
            "label": "Background Image"
        },
        {
            "type": "inline_richtext",
            "id": "service_2__container_text_content_small_header",
            "label": "Service 2 Small Header Text",
            "default": "Service"
        },
        {
            "type": "inline_richtext",
            "id": "service_2__container_text_content_heading_paragraph_div_header",
            "label": "Service 2 Header Text",
            "default": "Wedding & Event Decor"
        },
        {
            "type": "richtext",
            "id": "service_2__container_text_content_heading_paragraph_div_para",
            "label": "Service 2 Paragraph Text",
            "default": "<p>Let our team of expert florists and designers create stunning, on-trend floral décor for your special day. Trust us to bring your vision to life.</p>"
        },
        {
            "type": "textarea",
            "id": "service_2__container_button_label",
            "label": "Button Label",
            "default": "Inquire Now"
        },
        {
            "type": "url",
            "id": "service_2__container_button_link",
            "label": "Button Link"
        },
        {
            "type": "header",
            "content": "Tailwind styling classes"
        },
        {
            "type": "textarea",
            "id": "service_2__container",
            "label": "Container Classes",
            "default": "relative h-[416px] md:h-[500px] lg:h-[720px] flex items-center justify-center"
        },     
        {
            "type": "textarea",
            "id": "service_2__container_image_classes",
            "label": "Container Image Classes",
            "default": "absolute inset-0 w-full h-full object-cover"
        },      
        {
            "type": "textarea",
            "id": "service_2__container_overlay",
            "label": "Container Overlay Classes",
            "default": "absolute inset-0 bg-black bg-opacity-50"
        },        
        {
            "type": "textarea",
            "id": "service_2__container_content",
            "label": "Container Content Classes",
            "default": "relative z-10 flex flex-col gap-16 py-10 px-4 md:p-20 md:items-center"
        },        
        {
            "type": "textarea",
            "id": "service_2__container_text_content",
            "label": "Container Text Content Div",
            "default": "flex flex-col gap-6 text-center"
        },
         {
            "type": "textarea",
            "id": "service_2__container_text_content_small_header_classes",
            "label": "Text Content Div Small Header Text Classes",
            "default": "text-mobile-caption-small md:text-mobile-caption uppercase text-white font-medium"
        },
        {
            "type": "textarea",
            "id": "service_2__container_text_content_heading_paragraph_div",
            "label": "Container Text Content Heading Para Div",
            "default": "flex flex-col gap-4 "
        },
        {
            "type": "textarea",
            "id": "service_2__container_text_content_heading_paragraph_div_header_classes",
            "label": "Container Text Content Heading Para Header Classes",
            "default": "text-white text-mobile-heading-2 font-semibold md:text-desktop-heading-2"
        },
        {
            "type": "textarea",
            "id": "service_2__container_text_content_heading_paragraph_div_para_classes",
            "label": "Container Text Content Heading Para Paragraph Classes",
            "default": "text-mobile-body text-white md:text-desktop-hero-caption"
        },
        {
            "type": "textarea",
            "id": "service_2__container_button_div",
            "label": "Container Button Div",
            "default": "flex items-start justify-center md:inline-block"
        },
        {
            "type": "textarea",
            "id": "service_2__container_button_classes",
            "label": "Button Classes",
            "default": "text-white uppercase hover:bg-brand-black hover:text-white text-mobile-button font-medium border border-white hover:border-brand-black pt-4 pb-[14px] px-4 md:px-6 tracking-[0.025em] w-full md:w-[175px] md:h-[56px] md:tracking-[0.03em] md:text-desktop-button block text-center"
        }
    ],
    "presets": [
        {
            "name": "Service Section 2"
        }
    ]
}
{% endschema %}